RewriteEngine On

# Redirect 0879 to main site
RewriteRule ^0879/?$ https://ccsd.net [R=301,L]

# Redirect index.php?code=0879 to main site
RewriteCond %{QUERY_STRING} ^code=0879$
RewriteRule ^index\.php$ https://ccsd.net? [R=301,L]

# S allows summer school location codes
# H allows 0935H (sandy valley)
RewriteRule ^([SH0-9]*)$		index.php?code=$1 [PT]
