<table width="100%" cellpadding="0" cellspacing="0" border="0" class="trustee-nav-table">
		<tr>
			<td width="120">
				<a style="display: block;" href="/trustees/details/A">
					<strong>President</strong><br />

					<span> Deanna L. Wright</span><br />
					<span class="trustee-nav-district">District A</span><br />
					<div class="trustee-nav-frame"><img class="trustee-nav-img district-a" src="/_static/images/transparent.gif" alt="Deanna L. Wright" /></div>
				</a>
				</div>
			</td>


			<td width="120">
				<div>
					<a style="display: block;" href="/trustees/details/F">

						<strong>Vice President</strong><br />
						<span> Carolyn Edwards</span><br />
						<span class="trustee-nav-district">District F</span><br />
						<div class="trustee-nav-frame"><img class="trustee-nav-img district-f" src="/_static/images/transparent.gif" alt="Carolyn Edwards" /></div>



					</a>
				</div>
			</td>


			<td width="120">
				<div>
					<a style="display: block;" href="/trustees/details/E">
						<strong>Clerk</strong><br />
						<span>Lola Brooks</span><br />
						<span class="trustee-nav-district">District E</span><br />
						<div class="trustee-nav-frame"><img class="trustee-nav-img district-e" src="/_static/images/transparent.gif" alt="Lola Brooks" /></div>

					</a>
				</div>
			</td>


			<td width="120">
				<div>
					<a style="display: block;" href="/trustees/details/G">
						<strong>Member</strong><br />
						<span>Linda P. Cavazos</span><br />
						<span class="trustee-nav-district">District G</span><br />
						<div class="trustee-nav-frame"><img class="trustee-nav-img district-g" src="/_static/images/transparent.gif" alt="Linda P. Cavazos" /></div>

					</a>
				</div>
			</td>

			<td width="120">
				<div>
					<a style="display: block;" href="/trustees/details/D">
						<strong>Member</strong><br />
						<span> Kevin L. Child</span><br />
						<span class="trustee-nav-district">District D</span><br />
						<div class="trustee-nav-frame"><img class="trustee-nav-img district-d" src="/_static/images/transparent.gif" alt="Kevin L. Child" /></div>
					</a>
				</div>
			</td>


			<td width="120">
				<div>
					<a style="display: block;" href="/trustees/details/B">

						<strong>Member</strong><br />
						<span>Chris Garvey</span><br />
						<span class="trustee-nav-district">District B</span><br />
						<div class="trustee-nav-frame"><img class="trustee-nav-img district-b" src="/_static/images/transparent.gif" alt="Chris Garvey" /></div>
					</a>
				</div>
			</td>

			<td width="120">
	        	<div>
	        		<a style="display: block;" href="/trustees/details/C">
	        			<strong>Member</strong><br />
						<span>Dr. Linda E. Young</span><br />
						<span class="trustee-nav-district">District C</span><br />
						<div class="trustee-nav-frame"><img class="trustee-nav-img district-c" src="/_static/images/transparent.gif" alt="Dr. Linda E. Young" /></div>
	
	        		</a>
	        	</div>
	        </td>



        </tr>
	</table>
